{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <h1>Fale conosco</h1>
        <audio src="{% static 'audios/bem-vindo.wav' %}" autoplay > teste
        </audio>
        <p>Você pode entrar em contato com nossa equipe por e-mail, abaixo seguem os links para contato:</p>
        <h4>Links</h4>
        <ul>
            <li>E-mail: <a href="mailto:contato@simplemooc.org">contato@ava-portugues.com.br</a></li>
        </ul>
    </div>
</div>
{% endblock %}